@{
    ViewData["Title"] = "Lista de contatos";
}

<h1 class="display-4">Listagem de contatos</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Filipe</td>
            <td>11 999999999</td>
            <td>filipe@email.com</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>11 999999999</td>
            <td>Jacob@email.com</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Lary</td>
            <td>11 999999999</td>
            <td>Lary@email.com</td>
        </tr>
    </tbody>
</table>